# Python cache files
__pycache__/
*.pyc

# Virtual environment directories
venv/
.venv/

# Poetry files
poetry.lock

# Environment variables file
.env

# IDE specific files (optional)
.idea/
.vscode/
